<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3"></script>

    <div id="app">
      <h1>{{ message }}</h1>

      <hr />

      <h2>v-on으로 data 수정</h2>
      <p>숫자 세기: {{counter.count}}</p>
      <button @click="increment">숫자 UP!</button>
      <button @click="decrement">숫자 DOWN!</button>

      <hr />

      <h2 :class="titleClass">v-bind를 이용해 attribute 컨트롤</h2>

      <hr />

      <h2>v-on + v-bind = v-model</h2>
      <input v-model="text" type="text" placeholder="여기에 입력!" />
      <h3>{{text}}</h3>

      <hr />

      <h2>v-if 와 v-else</h2>
      <button @click="toggle">{{ isClicked ? "O" : "X" }}</button>
      <h3 v-if="isClicked">O</h3>
      <h3 v-else>X</h3>

      <hr />

      <h2>v-for</h2>
      <form @submit.prevent="addTodo">
        <input v-model="newTodo" placeholder="할 일 입력" />
        <button>할 일 추가</button>
      </form>
      <ul>
        <li v-for="todo in filteredTodos" :key="todo.id">
          <input type="checkbox" v-model="todo.done" />
          <span :class="{ done: todo.done }"> {{ todo.text }} </span>
          <button @click="removeTodo(todo)">❌</button>
        </li>
      </ul>
      <button @click="hideCompleted = !hideCompleted">{{ hideCompleted ? "모두 보이기" : "완료된 항목 숨기기" }}</button>

      <hr />

      <h2>Lifecycle</h2>
      <p ref="p1">마운트 여부를 확인합니다.</p>
      <p ref="p2">업데이트 횟수를 셉니다.</p>

      <hr />

      <h2>Watchers</h2>
      <p>숫자 세기 감시 중...</p>
      <p ref="p3">👁‍🗨</p>

      <hr />

      <h2>Props</h2>
      <label>부모가 자식에게 할 말 : </label>
      <input v-model="toChild" />
      <br />
      <br />
      <child-comp :msg="toChild" @response="(msg) => fromChild = msg"> 컴포넌트 innerText를 자식에게 </child-comp>

      <h2>Emit</h2>
      <p>자식에게 받은 말 : {{ fromChild || "없음" }}</p>
    </div>

    <script src="./vue.js"></script>
    <script src="./ChildComp.js"></script>
    <script>
      app.mount("#app");
    </script>
    <style>
      .red {
        color: red;
      }
      .underline {
        text-decoration: underline;
      }
      .done {
        text-decoration: line-through;
      }
    </style>
  </body>
</html>
