{% extends "base.html" %}
{% block content %}
<!-- 질문 -->
<article>
    <header>
        <h2>{{ question.subject }}</h2>
    </header>
    {{ question.content }}
    <footer>{{ question.create_date }}</footer>
</article>

<!-- 답변 -->
<details open>
    <summary>{{ question.answer_set.count }}개의 답변이 있습니다.</summary>
    {% for answer in question.answer_set.all %}
    <p>
        {{ answer.content }}
        {{ answer.create_date}}
    </p>
    {% endfor %}
</details>

<!-- 답변 등록 -->
<form action="{% url 'pybo:answer_create' question.id %}" method="post">
    {% csrf_token %}
    {% include "form_errors.html" %}
    <label for="content">답변내용</label>
        <textarea name="content" id="content" rows="10"></textarea>
    <input type="submit" vaule="답변등록" />
</form>
{% endblock %}