{% extends "base.html" %}
{% load pybo_filter %}
{% block content %}
{% if messages %}
{% for message in messages %}
<mark>{{ message.tags }}</mark>
<ul><li>{{ message.message }}</li></ul>
{% endfor %}
{% endif %}
<!-- 질문 -->
<article>
    <header>
        <hgroup>
            <h4>{{ question.subject }}</h2>
            <h5>글쓴이: {{ question.author.username }}</h3>
        </hgroup>
        {% if request.user == question.author %}
        <a href="{% url 'pybo:question_modify' question.id %}">수정</a>
        <a href="javascript:if(confirm('정말로 삭제하시겠습니까?')){location.href=`{% url 'pybo:question_delete' question.id %}`}">삭제</a>
        {% endif %}
    </header>
    {{ question.content }}
    <footer>
        작성일시: {{ question.create_date }}
        {% if question.modify_date|timestamp != question.create_date|timestamp %}
        <br />
        수정일시: {{ question.modify_date }}
        {% endif %}
    </footer>
</article>

<!-- 답변 -->
<details open>
    <summary>{{ question.answer_set.count }}개의 답변이 있습니다.</summary>
    {% for answer in question.answer_set.all %}
    <p>
        <div class="grid">
            <div>{{ answer.content }}</div>
            <div>
                {% if request.user == answer.author %}
                <a href="{% url 'pybo:answer_modify' answer.id %}">수정</a>
                <a href="javascript:if(confirm('정말 삭제하시겠습니까?')){location.href=`{% url 'pybo:answer_delete' answer.id %}`}">삭제</a>
                {% endif %}
            </div>
            <div>{{ answer.author.username }}</div>
            <div>
                작성일시: {{ answer.create_date}}
                {% if answer.modify_date|timestamp != answer.create_date|timestamp %}
                <br />
                수정일시: {{ answer.modify_date }}
                {% endif %}
            </div>
        </div>
    </p>
    {% endfor %}
</details>

<!-- 답변 등록 -->
<form action="{% url 'pybo:answer_create' question.id %}" method="post">
    {% csrf_token %}
    {% include "form_errors.html" %}
    <label for="content">답변내용</label>
        <textarea name="content" id="content" rows="10" 
            {% if not user.is_authenticated %}disabled{% endif %}></textarea>
    <input type="submit" vaule="답변등록" />
</form>
{% endblock %}

{% block script %}
{% endblock%}